.friendRequests {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.friendRequests h2 {
    margin-bottom: 20px;
    color: #333;
}

.friendRequests p {
    color: #666;
}

.error {
    color: red;
    font-weight: bold;
    margin-bottom: 10px;
}

.success {
    color: green;
    font-weight: bold;
    margin-bottom: 10px;
}

.friendRequest {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    margin: 10px 0;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.friendRequest h4 {
    margin: 0;
    font-size: 1.2em;
}

.friendRequestButtons {
    display: flex;
}

.friendRequestButtons button {
    font-size: small;
    padding: 5px;
    height: 35px;
    width: 70px;
    margin-left: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
}

.friendRequestButtons button:hover {
    background-color: #45a049;
}

.friendRequestButtons button:nth-child(2) {
    background-color: #f44336;
}

.friendRequestButtons button:nth-child(2):hover {
    background-color: #e53935;
}
