.welcome-screen {
    text-align: center;
    margin-top: 50px;
  }
  
  .play-button,
  .signin-button,
  .register-button,
  .signout-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
  }
  
  .play-button:hover,
  .signin-button:hover,
  .register-button:hover,
  .signout-button:hover {
    background-color: #0056b3;
  }
  